<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Hackathon 2016.Here is a view of people reaching us on twitter!</title>
    <script src="sockjs-0.3.4.js"></script>
    <script src="stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;
         function connect() {
            var socket = new SockJS('/accesstweets');
            stompClient = Stomp.over(socket);            
            stompClient.connect({}, function(frame) {
            		document.getElementById('response').innerHTML = ''; 
                    stompClient.subscribe('/topic/tweets', function(tweet){
                    showTweet(JSON.parse(tweet.body).content);
                });
            });
        }
        
      
        function showTweet(message) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            response.appendChild(p);
        }
    </script>
</head>
<body onload="connect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
	 <div id="msg">
        <p id="msg"><h3 style="color: blue">Please do not mind duplicate tweets due to streaming API limitation!</h3></p>
    </div>
    <div id="tweetsDiv">
        <p id="response"></p>
    </div>
</div>
</body>
</html>